html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background: url("background.svg") no-repeat;
    background-size: cover;
    margin: 0;
    background-color: rgb(0, 0, 0,0.1); 
  }
.topsec{
    display: flex;
    align-items: center;
    height:200px;
    background: rgb(253, 253, 253);
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.logo{
    display: flex;
    width:40%;
    align-items: center;
}
.logoicon{
    width:15%;
}
.brandname{
    font-family: 'Alegreya SC';
    font-size: 35px;
    font-weight: 400;
}
.buttonpanel{
    padding-right: 2%;
    display: flex;
    width: 15%;
    height:40%;
    align-items: center;
    justify-content: space-evenly;
    
}
.login_form{
    width:40%;
    height:40%;
}
.loginbutton{
    display: flex;
    align-items: center;
    font-family: 'Alegreya Sans SC';
    font-size: 20px;
    font-weight: 700;
    width:100%;
    height:100%;
    text-align: center;
    justify-content:center ;
    border-radius: 7px;
    background-color:rgb(253, 253, 253);
    border: thin;
}
.loginbutton:hover{
    background-color:rgb(201, 201, 201);
}
.signup_form{
    width:40%;
    height:40%;
}
.signupbutton{
    display: flex;
    align-items: center;
    font-family: 'Alegreya Sans SC';
    font-size: 20px;
    font-weight: 700;
    width:100%;
    height:100%;
    text-align: center;
    justify-content:center ;
    border-radius: 7px;
    color:white;
    border: thin;
    background-color: rgb(38, 142, 243);
}
.signupbutton:hover{
    background-color:rgb(34, 106, 177);
}
.contentbox{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 400px;
    align-items: center;
}
.quote{
    display: flex;
    height: 30%;
    align-items: center;
}
.sentence{
    font-family: "Alegreya ";
    font-size: 50px;
    font-weight: bold;
}
.tagline{
    display: flex;
    height: 40%;
    width:50%;
    align-items: center;
}
.taglinesentence{
    font-size: 30px;
    font-family:"Alegreya Sans";
    text-align: center;
    color: rgb(104, 104, 104);
}
.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.signupforfree{
    display: flex;
    align-items: center;
    font-family: 'Alegreya';
    font-size: 20px;
    font-weight: 500;
    width:15%;
    height:50%;
    text-align: center;
    justify-content:space-evenly;
    border-radius: 7px;
    color:white;
    border: thin;
    background-color: rgb(38, 142, 243);
}
.signupforfree:hover{
    background-color:rgb(34, 106, 177);
}
.arrow{
    width:10%;
    align-self: center;
}